/*Css tabale*/
/*Scroll table*/
.woo_sc_table_scroll {
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: hidden;

}

.woo_sc_view_table {
    table-layout: auto;
    width: 100%;
}

.woo_sc_view_table th, .woo_sc_view_table td {
    white-space: nowrap;

}

.hentry .entry-content .wp-block-table td, .hentry .entry-content .wp-block-table th,
.woo_sc_table_scroll table.woo_sc_view_table tr td, .woo_sc_view_table tr th {
    padding: 10px;
}

.woo_size_chart_img img {
    display: block;
    margin: 5px auto;
    max-width: 100%;
    text-align: center;
}

.woo_sc_view_table tr td, .woo_sc_view_table tr th {
    font-size: 14px !important;
}

.woo_sc_table100 {
    background-color: #fff;
    position: relative;
    /*padding-top: 40px*/
}

.woo_sc_table100-head {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.woo_sc_table100-body {
    max-height: 535px;
    overflow: auto
}

.woo_sc_table100.table_template_v1 th {
    font-size: 18px;
    color: #fff;
    line-height: 1.4;
    background-color: #6c7ae0
}

.woo_sc_table100.table_template_v1 td {
    font-size: 15px;
    color: gray;
    line-height: 1.4
}

.woo_sc_table100.table_template_v1 .woo_sc_table100-body tr:nth-child(even) {
    background-color: #f8f6ff
}

.woo_sc_table100.table_template_v1 {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
    -o-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15);
    -ms-box-shadow: 0 0 40px 0 rgba(0, 0, 0, .15)
}

.woo_sc_table100 .ps__rail-y {
    right: 5px
}

.woo_sc_table100 .ps__rail-y::before {
    background-color: #ebebeb
}

.woo_sc_table100 .ps__rail-y .ps__thumb-y::before {
    background-color: #ccc
}

.woo_sc_table100.table_template_v2 table.woo_sc_view_table{
    border-collapse: separate;
    border-spacing: 0 10px;
}
.woo_sc_table100.table_template_v2 thead th,
.woo_sc_table100.table_template_v2 tbody th,
.woo_sc_table100.table_template_v2 tbody tr td{
    height:unset;
    padding: 30px;
}
.woo_sc_table100.table_template_v2  tbody tr {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 25px;
    -webkit-box-shadow: 0px 5px 12px -12px rgb(0 0 0 / 29%);
    -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 5px 12px -12px rgb(0 0 0 / 29%);
}
.woo_sc_table100.table_template_v2 tbody th,
.woo_sc_table100.table_template_v2 tbody tr td{
    border: none !important;
}
.woo_sc_table100.table_template_v2 {
    border-collapse: separate;
    border-spacing: 0 10px;
    padding: 0;
    background-color: transparent;
}
@media only screen and (min-width: 1024px) {
    /* Table single cells */
    table.woo_sc_view_table td, table.woo_sc_view_table th {
        min-width: 20px;
        height: 20px;
    }

    .woo_sc_table100-body::-webkit-scrollbar {
        width: 4px;
        height: 8px;
    }
    .woo_sc_table100-body::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .woo_sc_table100-body::-webkit-scrollbar-thumb {
        background: #cecece;
        border-radius: 8px;
    }

    .woo_sc_table100-body::-webkit-scrollbar-thumb:hover {
        background: #aaa;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    table.woo_sc_view_table td, table.woo_sc_view_table th {
        min-width: 20px;
        height: 20px;
    }
    .woo_sc_table100-body::-webkit-scrollbar {
        width: 4px;
        height: 8px;
    }
    .woo_sc_table100-body::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .woo_sc_table100-body::-webkit-scrollbar-thumb {
        background: #cecece;
        border-radius: 8px;
    }

    .woo_sc_table100-body::-webkit-scrollbar-thumb:hover {
        background: #aaa;
    }
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
    table.woo_sc_view_table td, table.woo_sc_view_table th {
        min-width: 20px;
        height: 20px;
    }
}
@media only screen and (max-width: 375px) {
    .woo_sc_table100-body {
        max-height: 350px;
        overflow: auto
    }
}
