* {
  box-sizing: border-box;
}

.vi-ui {
  &.form {
    tr[data-field-index] {
      display: none;
    }
  }
  &.tab {
    background: #fff !important;
  }

  &.fluid {
    &.dropdown {
      width: unset !important;
    }
  }
  &.selection {
    &.dropdown {
      min-height: unset !important;
    }
  }

}

.get_short_code {
  display: block;
  background-color: #e0f7e5;
  border-radius: 7px;
  border: 1px solid #45c160;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin-top: 5%;
}

/*RTL*/
.rtl {
  .vi-ui.button:not(.icon)>.icon:not(.button):not(.dropdown), .vi-ui.button>.icon:not(.button) {
    margin: 0 -.21428571em 0 .42857143em;
  }
}
